<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>
	<nav>
		<div class="nav-wrapper">
			<div class="col s12">
				<a href="/" class="breadcrumb">Acceuil</a>
				<a href="/profs-list" class="breadcrumb">Gestions des profs</a>
				<a href="!#" class="breadcrumb">Programmes</a>
			</div>
		</div>
	</nav>
	<section>
		<h2> Cours </h2>
		<hr>

		<br>
		<!-- Professeur -->
		<div class="row">

			<!-- programme -->
			<% cours.forEach(function(cour){ %>
			<div class="col s12 m6">
				<div class="card">
					<div class="card-image">

						<!-- 	<a class="btn-floating halfway-fab waves-effect waves-light red" href="" ><i class="material-icons">person_add</i></a> -->
					</div>
					<div class="card-content">
						<p>Nom : <%= cour.nom %></p>
						<p>Titre : <%= cour.titre %></p>
						<p>Nombre de cours : <%= cour.nombre %></p>

						<p>Crédits : <%= cour.nsection %></p>
						
						<ul class="collapsible">
							<li>
								<div class="collapsible-header">Pre-requis</div>
								<div class="collapsible-body">
									<% if (cour.prerequis) { %>
									<ul>

										<% cour.prerequis.forEach(function(prerequis){ %>
										<li>• <%= prerequis.nom %> | | Titre : <%= prerequis.titre %>
										</li>
										<% }); %>
									</ul>

									<% } %>
								</div>
							</li>
						</ul>


					</div>

					<!-- 				<a class="btn-floating halfway-fab waves-effect waves-light red" href="/cours-list/" ><i class="material-icons">add</i></a> -->

				</div>
			</div>
			<% }); %> 
		</div>

		<footer class="footer-copyright">
			<% include partials/footer %>
		</footer>

	</section>
</body>
</html>
