<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>
	<nav>
		<div class="nav-wrapper">
			<div class="col s12">
				<a href="/" class="breadcrumb">Acceuil</a>
				<a href="#!" class="breadcrumb">Gestions des étudiants</a>
			</div>
		</div>
	</nav>
	<section>
		<div class="container">
			<div class="section">
				<h2> Etudiants</h2>
				<hr>
				<br>
				<div class="row">

					<!-- programme -->
					<% etudiants.forEach(function(etudiant){ %>
					<div class="col s12 m6">
						<div class="card">
							<div class="card-image">

								
							</div>
							<div class="card-content">
								<p>
									<i class="large material-icons">account_circle</i>
									<%= etudiant.nom %> -- <%= etudiant.prenom %>
								</p>

								<hr>
								
								<p>


									<br>
									Liste des programmes
									<hr>
									<a class="waves-effect waves-light" href="/programmes-list/<%= etudiant._id %>">Ajoutez un programme</a>


									<ul class="collapsible">
										<li>
											<div class="collapsible-header">Programmes</div>
											<div class="collapsible-body">
												<% if (etudiant.programmesid) { %>
												<ul>

													<% etudiant.programmesid.forEach(function(programme){ %>
													<li>• <%= programme.annee %> |  <%= programme.semestre %> semestre(s)| <%= programme.horaires %>
													</li>
													<% }); %>
												</ul>

												<% } %>
											</div>
										</li>
									</ul>

									<br>

									<a class="waves-effect waves-light">Ajoutez un cours</a>

									<ul class="collapsible">
										<li>
											<div class="collapsible-header">Cours</div>
											<div class="collapsible-body">

											</div>
										</li>
									</ul>

									<br>

									<br>
									<a class="waves-effect waves-light">Ajoutez une note</a>

									<ul class="collapsible">
										<li>
											<div class="collapsible-header">Notes</div>
											<div class="collapsible-body">
												
											</div>
										</li>
									</ul>


								</p>

							</div>
						</div>
					</div>
					<% }); %> 
				</div>


			</div>
		</div>
	</section>
	<footer class="footer-copyright">
		<% include partials/footer %>
	</footer>
</body>
</html>
